DATABASE_URL="mysql://root:@localhost:3306/geb_equipment"
SMTP_HOST=smtp.pn2.geb
SMTP_PORT=25
SMTP_SECURE=false
SMTP_USER=PN2\hfannir
SMTP_FROM=noreply@geb.fr
SMTP_PASS=Keynafarell01.

JWT_SECRET=7b3ea0739fe82e23501269b50001dabb18ca490244ed8b10bdf756a43a0a10f896791bd09dd1d8eb153f7f8c73df0c218fc0b7ac2f7d2cc5188325454da966f1d49b8863e0c2694954
APP_URL=http://materiel.pn2.geb
NODE_ENV=development
PORT=3000

FORCE_EMAIL_SEND=true
SMTP_ALLOW_SELF_SIGNED=true